<header>
    <nav class="header-nav">
        <a class="header-title" href="/">DELOVI POCETNA</a>
        <ul>
            <li>
                <a class="header-link" href="/proizvodjaci">Proizvodjaci</a>
            </li>
            <li>
                <a class="header-link" href="/proizvodjaci/new">Dodaj Proizvodjaca</a>
            </li>
            <li>
                <a class="header-link" href="/delovi">Delovi</a>
            </li>
            <li>
                <a class="header-link" href="/delovi/new">Dodaj deo</a>
            </li>
            
        </ul>
    </nav>
</header>