<header>
    <nav>
        <a href="/">DELOVI POCETNA</a>
        <ul>
            <li>
                <a href="/proizvodjaci">Proizvodjaci</a>
            </li>
            <li>
                <a href="/proizvodjaci/new">Dodaj Proizvodjaca</a>
            </li>
            
        </ul>
    </nav>
</header>