<h2 class="page-header">Izmeni proizvodjaca</h2>
<form action="/proizvodjaci/<%= proizvodjac.id %>?_method=PUT " method="POST">

    <%- include('_form_fields') %> 
    <div class="form-row btn-row">
    <a class="btn btn-danger" href="/proizvodjaci/<%= proizvodjac.id %> ">Ponisti</a>
    <button class="btn btn-primary" type="submit">Izmeni</button>
    
    </div>
</form>