<h2 class="page-header">Novi proizvodjac</h2>
<form action="/proizvodjaci" method="POST">

    <%- include('_form_fields') %> 
    <div class="form-row btn-row">
    <a class="btn btn-danger" href="/proizvodjaci">Ponisti</a>
    <button class="btn btn-primary" type="submit">Kreiraj</button>
</div>
</form>