<h2 class="page-header">Pretrazi delove</h2>
<form action="/delovi" method="GET">
    <div class="form-row">
    <div class="form-item">
<label>Naziv</label>
<input type="text" name="naziv" value="<%= searchOptions.naziv %> ">
<div class="form-row">
<button class="btn btn-primary" type="submit">Pretrazi</button>
</div>
</form>
</div>
</div>
<br>
<div>
<% delovi.forEach(deo => { %>
    <div><%= deo.naziv %></div>
<% }) %>  
</div>