<h2 class="page-header">Novi deo</h2>
<form action="/delovi" method="POST">

    <%- include('_form_fields') %> 
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/delovi">Ponisti</a>
        <button class="btn btn-primary" type="submit">Kreiraj</button>
    </div>
</form>